<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cart_Servlet</servlet-name>
        <servlet-class>controller.Cart_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dangki_Servelet</servlet-name>
        <servlet-class>controller.Dangki_Servelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartValueServelt</servlet-name>
        <servlet-class>controller.ChartValueServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServelet</servlet-name>
        <servlet-class>controller.ChartServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartMonthServlet</servlet-name>
        <servlet-class>controller.ChartMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BieudoTServlet</servlet-name>
        <servlet-class>controller.BieudoTServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart_Servlet</servlet-name>
        <url-pattern>/Cart_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dangki_Servelet</servlet-name>
        <url-pattern>/Dangki_Servelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartValueServelt</servlet-name>
        <url-pattern>/ChartValueServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServelet</servlet-name>
        <url-pattern>/ChartServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartMonthServlet</servlet-name>
        <url-pattern>/ChartMonthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BieudoTServlet</servlet-name>
        <url-pattern>/BieudoTServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>thanhtoan.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>authtoken</param-name>
        <param-value>AaWiQ4BaBUFWdgCLcVLV06kels0lQ9Kgfg0JsMq3iUQIhKvTkVapV3rJFjiwDkF1TiW94x8Z6xiQci-G</param-value>
    </context-param>
    <context-param>
        <param-name>posturl</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>business</param-name>
        <param-value>admin2019@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>returnurl</param-name>
        <param-value>http://localhost:8080/Lap_trinh_web/checkout.jsp</param-value>
    </context-param>
</web-app>
